
.home-page {
    
    background-color:  white;
    
    & .features {
        display: flex;
        justify-content: space-between;

        @include phone-portrait {
            flex-direction: column;
        }
    }
}