
.header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        transform: scale(0.43);
        position: relative;
        left: -110px;
        cursor: pointer;

        @include phone-portrait {
            left: -5%;
            transform: scale(0.75);
        }
    }

    & .user-sign-in-out {
        font-size: 16px;
        font-weight: 700;
        color: #2c3e50;
        margin-right: 30px;
        width: 50%;
        text-align: right;

        & i {
            margin-right: 5px;
        }

        @include phone-portrait {

        }
    }

}