
.header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        transform: scale(0.43);
        position: relative;
        left: -110px;
        cursor: pointer;

        @include phone-portrait {
            left: -5%;
            transform: scale(0.75);
        }

        @include hover-opacity(0.8);
    }



}